* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
  font-family: 'Bona Nova', serif;
	font-weight: 400;
}


section {
  height: 100vh;
  max-width: 1200px;
  margin: auto;
  
  .countdown {

  
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      & h2 {
        font-weight: 700;
        font-size: clamp(3rem, 5vw, 5rem);
        margin-bottom: 48px;
      }
    }

    &__timer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        text-align: center;

        & div {
          font-size: 2rem;
          display: flex;
          flex-direction: column;
        }
    }

    &__image {

      display: inline-block;
      position: relative;
      width: 100%;
      overflow: hidden;

      & img {
        display: inline-block;
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }

}

